/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*Navbar*/
 
.nav-back {
    background-color: #000;
    color: white;
    padding: 10px;

}

.nav-back a{
   text-decoration: none;
   color: white;
   font-weight: 800;
    
}

/* Header Styles */
.header {
background-color:black;
    color: #ffffff;
   
    padding: 10px;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: 700;
text-transform: capitalize;
    animation: fadeIn 2s ease-in-out;
}

.header .Fill{
    text-transform: uppercase;
}

/* Container Styles */
.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    animation: slideIn 1s ease-out;
}

/* Form Group Styles */
.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
}

/* File Input Styles */
.form-group input[type="file"] {
    padding: 3px;
    background-color: #fff;
    color: #000;
}

/* Submit Button Styles */
.form-group button {
    width: 14%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-group button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Footer Styles */
.footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
